In [25]:
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import binom_test

In [26]:
def calc_degree(merged_table, id):
    degree_out = len(merged_table[merged_table['Id_Start'] == id])
    degree_in = len(merged_table[merged_table['Id_Target'] == id])
    return degree_in + degree_out

In [27]:
data = pd.read_excel('/Users/zirui/BGI_Projects/GIZ_SouthernChinaBats/RDP_input_filtered.xlsx')
data['Country'] = data['Country'].apply(lambda x: x.strip()).replace('Hongkong', 'Guangdong').replace('HongKong', 'Guangdong')
data['Accession'] = data['Accession'].astype(str)

In [28]:
data.to_excel('/Users/zirui/BGI_Projects/GIZ_SouthernChinaBats/Recombination/Sequences_For_Recombination_Sampling.xlsx')

In [4]:
#data.loc[data['collection_date'].isna(), 'Accession'] = data.loc[data['collection_date'].isna(), 'Accession'].apply(lambda x: 'CoV')

In [29]:
import Bio.SeqIO as SeqIO

_123_seqs = list(SeqIO.to_dict(SeqIO.parse('/Users/zirui/BGI_Projects/GIZ_SouthernChinaBats/BatSarbecovirus_20231123/bat_sarbecovirus_cdhit_mafft_output_selected_Rhinolophus.clean.rmwronghost.fa', format='fasta')).keys())

In [30]:
kept_accessionlist = set(_123_seqs) & set(data['Accession'])
kept_accessionlist

{'201924',
 'B50',
 'B68',
 'B86',
 'B87',
 'CH007',
 'CH063',
 'CH231',
 'DQ022305.2',
 'DQ071615.1',
 'DQ412042.1',
 'DQ412043.1',
 'DQ648856.1',
 'DQ648857.1',
 'FJ588686.1',
 'GQ153539.1',
 'GQ153542.1',
 'GQ153543.1',
 'GQ153545.1',
 'GQ153547.1',
 'HD13589',
 'JX993987.1',
 'KC881005.1',
 'KC881006.1',
 'KF294457.1',
 'KF367457.1',
 'KF569996.1',
 'KJ473811.1',
 'KJ473812.1',
 'KJ473813.1',
 'KJ473814.1',
 'KJ473815.1',
 'KJ473816.1',
 'KU182964.1',
 'KU973692.1',
 'KY417143.1',
 'KY417144.1',
 'KY417146.1',
 'KY417147.1',
 'KY417148.1',
 'KY417149.1',
 'KY417150.1',
 'KY417151.1',
 'KY417152.1',
 'KY770858.1',
 'KY770860.1',
 'MG772933.1',
 'MG772934.1',
 'MK211375.1',
 'MK211377.1',
 'MK211378.1',
 'MW681002.1',
 'MW703458.1',
 'MZ081377.1',
 'MZ081379.1',
 'MZ081382.1',
 'MZ328294.1',
 'OK017792.1',
 'OK017793.1',
 'OK017795.1',
 'OK017796.1',
 'OK017797.1',
 'OK017799.1',
 'OK017803.1',
 'OK017805.1',
 'OK017806.1',
 'OK017807.1',
 'OK017808.1',
 'OK017809.1',
 'OK017810.1',
 'OK017811.1',
 'OK017812.1',
 'OK017813.1',
 'OK017820.1',
 'OK017822.1',
 'OK017823.1',
 'OK017824.1',
 'OK017825.1',
 'OK017827.1',
 'OK017828.1',
 'OK017829.1',
 'OK017830.1',
 'OK017831.1',
 'OK017832.1',
 'OK017833.1',
 'OK017834.1',
 'OK017835.1',
 'OK017836.1',
 'OK017837.1',
 'OK017838.1',
 'OK017839.1',
 'OK017840.1',
 'OK017841.1',
 'OK017842.1',
 'OK017843.1',
 'OK017844.1',
 'OK017845.1',
 'OK017846.1',
 'OK017847.1',
 'OK017848.1',
 'OK017853.1',
 'OK017858.1',
 'OK017859.1',
 'OK287354.1',
 'OK287355.1',
 'OP963575.1',
 'OP963576.1',
 'OQ297701.1',
 'OQ297702.1',
 'OQ297703.1',
 'OQ297705.1',
 'OQ503495.1',
 'OQ503497.1',
 'OQ503498.1',
 'OQ503500.1',
 'OQ503501.1',
 'OQ503502.1',
 'OQ503503.1',
 'OQ503504.1',
 'OQ503505.1',
 'OQ503506.1'}

In [53]:
with open("/Users/zirui/BGI_Projects/GIZ_SouthernChinaBats/Recombination/kept_sequences_123.txt", "w") as f:
	f.write("\n".join(kept_accessionlist))

In [31]:
node_table = pd.read_excel('/Users/zirui/BGI_Projects/GIZ_SouthernChinaBats/Recombination/Recombination_network/Sarbecovirus_host_loc_V2.filtered.xlsx', sheet_name=3).replace('Hongkong', 'Guangdong').replace('HongKong', 'Guangdong')
node_table['Id'] = node_table["Id"].astype(str)
node_table = node_table[node_table['Id'].isin(kept_accessionlist)]
node_table

             Id                 Host   Province
0    OK017824.1  Rhinolophus sinicus  Guangdong
1    OK017842.1  Rhinolophus sinicus    Jiangxi
2    OK017808.1  Rhinolophus sinicus     Fujian
3    OK017809.1  Rhinolophus sinicus     Fujian
4    OK017810.1  Rhinolophus sinicus     Fujian
..          ...                  ...        ...
110  OQ503500.1  Rhinolophus sinicus     Yunnan
111  OQ503501.1  Rhinolophus sinicus     Yunnan
113         B68  Rhinolophus sinicus  Guangdong
116  OK017847.1  Rhinolophus sinicus     Yunnan
118  OQ503506.1  Rhinolophus thomasi     Yunnan

[100 rows x 3 columns]

In [54]:
rdpresult = pd.read_excel('/Users/zirui/BGI_Projects/GIZ_SouthernChinaBats/Recombination/Recombination_network/Sarbecovirus_host_loc_V2.filtered.xlsx', sheet_name=0)
rdpresult['Recombinant'] = rdpresult['Recombinant'].astype(str).apply(lambda x: x.replace("^", ""))
rdpresult['Minor'] = rdpresult['Minor'].astype(str)
rdpresult['Major'] = rdpresult['Major'].astype(str)
rdpresult_kept = rdpresult[ (rdpresult['Recombinant'].isin(node_table['Id'])) & (rdpresult['Minor'].isin(node_table['Id'])) & (rdpresult['Major'].isin(node_table['Id'])) ]
rdpresult_kept.to_excel('/Users/zirui/BGI_Projects/GIZ_SouthernChinaBats/Recombination/Recombination_network/Sarbecovirus_kept123.xlsx', index=False)

In [64]:
rdpresult_kept

,Recombinant,Recombinant_Host,Recombinant_Province,Minor,Minor_Host,Minor_Province,Major,Major_Host,Major_Province,Sample_Loc,Sample_Host
0,OK017824.1,Rhinolophus sinicus,Guangdong,OQ503498.1,Rhinolophus sinicus,Hubei,OK017807.1,Rhinolophus sinicus,Anhui,diff,1
1,OK017842.1,Rhinolophus sinicus,Jiangxi,OQ297705.1,Rhinolophus rex,Chongqing,GQ153542.1,Rhinolophus sinicus,Guangdong,diff,0
2,OK017808.1,Rhinolophus sinicus,Fujian,201924,Rhinolophus sinicus,Guangdong,OK017838.1,Rhinolophus sinicus,Jiangxi,diff,1
3,OK017809.1,Rhinolophus sinicus,Fujian,KF294457.1,Rhinolophus monoceros,Zhejiang,OK017810.1,Rhinolophus sinicus,Fujian,diff,0
4,OK017810.1,Rhinolophus sinicus,Fujian,OK017809.1,Rhinolophus sinicus,Fujian,OK017811.1,Rhinolophus sinicus,Fujian,same,1
...,...,...,...,...,...,...,...,...,...,...,...
176,KY417150.1,Rhinolophus sinicus,Yunnan,OQ503500.1,Rhinolophus sinicus,Yunnan,OK017858.1,Rhinolophus sinicus,Yunnan,same,1
177,KY417149.1,Rhinolophus sinicus,Yunnan,OQ503501.1,Rhinolophus sinicus,Yunnan,KY417150.1,Rhinolophus sinicus,Yunnan,same,1
180,DQ071615.1,Rhinolophus pearsoni,Guangxi,OK017834.1,Rhinolophus sinicus,Hunan,OK017858.1,Rhinolophus sinicus,Yunnan,diff,1
181,MG772934.1,Rhinolophus pusillus,Zhejiang,OP963576.1,Rhinolophus marshalli,Yunnan,MG772933.1,Rhinolophus pusillus,Zhejiang,diff,0
182,OK017807.1,Rhinolophus sinicus,Anhui,OQ503498.1,Rhinolophus sinicus,Hubei,KF294457.1,Rhinolophus monoceros,Zhejiang,diff,0

In [66]:
full = pd.read_excel('/Users/zirui/Library/CloudStorage/OneDrive-BGITechSolutions(Hongkong)Co.,Ltd/文章-华南病毒组/SupplementaryTables/TableS10.Recombination signals for Sarbecoviruses full.xlsx')
full['Recombinant_clean'] = full['Recombinant'].astype(str).apply(lambda x: x.replace("^",""))
full['Major'] = full['Major'].astype(str)
full['Minor'] = full['Minor'].astype(str)

In [68]:
rdpresult_kept[['Major', 'Minor', 'Recombinant']].merge(full, left_on=['Major', 'Minor', 'Recombinant'], right_on=['Major', 'Minor', 'Recombinant_clean'], how='left').to_excel("/Users/zirui/BGI_Projects/GIZ_SouthernChinaBats/Recombination/Recombination_network/TableS10.xlsx", index=False)

In [33]:
edges_major = rdpresult_kept[['Major', 'Recombinant']].rename(columns={"Major": "Source", "Recombinant":"Target"})
edges_major['Relation_Type'] = 'Major'
edges_minor = rdpresult_kept[['Minor', 'Recombinant']].rename(columns={"Minor": "Source", "Recombinant":"Target"})
edges_minor['Relation_Type'] = 'Minor'
edges_recomb = rdpresult_kept[['Minor', 'Major']].rename(columns={"Minor": "Source", "Major":"Target"})
edges_recomb['Relation_Type'] = 'Recombinantion'

In [34]:
edge_table = pd.concat([edges_major, edges_minor, edges_recomb])
edge_table

         Source      Target   Relation_Type
0    OK017807.1  OK017824.1           Major
1    GQ153542.1  OK017842.1           Major
2    OK017838.1  OK017808.1           Major
3    OK017810.1  OK017809.1           Major
4    OK017811.1  OK017810.1           Major
..          ...         ...             ...
176  OQ503500.1  OK017858.1  Recombinantion
177  OQ503501.1  KY417150.1  Recombinantion
180  OK017834.1  OK017858.1  Recombinantion
181  OP963576.1  MG772933.1  Recombinantion
182  OQ503498.1  KF294457.1  Recombinantion

[378 rows x 3 columns]

In [35]:
merged_df = pd.merge(edge_table, node_table, left_on='Source', right_on='Id', how='left')
merged_df = pd.merge(merged_df, node_table, left_on='Target', right_on='Id', how='left', suffixes=('_Start', '_Target'))
merged_df

,Source,Target,Relation_Type,Id_Start,Host_Start,Province_Start,Id_Target,Host_Target,Province_Target
0,OK017807.1,OK017824.1,Major,OK017807.1,Rhinolophus sinicus,Anhui,OK017824.1,Rhinolophus sinicus,Guangdong
1,GQ153542.1,OK017842.1,Major,GQ153542.1,Rhinolophus sinicus,Guangdong,OK017842.1,Rhinolophus sinicus,Jiangxi
2,OK017838.1,OK017808.1,Major,OK017838.1,Rhinolophus sinicus,Jiangxi,OK017808.1,Rhinolophus sinicus,Fujian
3,OK017810.1,OK017809.1,Major,OK017810.1,Rhinolophus sinicus,Fujian,OK017809.1,Rhinolophus sinicus,Fujian
4,OK017811.1,OK017810.1,Major,OK017811.1,Rhinolophus sinicus,Fujian,OK017810.1,Rhinolophus sinicus,Fujian
...,...,...,...,...,...,...,...,...,...
373,OQ503500.1,OK017858.1,Recombinantion,OQ503500.1,Rhinolophus sinicus,Yunnan,OK017858.1,Rhinolophus sinicus,Yunnan
374,OQ503501.1,KY417150.1,Recombinantion,OQ503501.1,Rhinolophus sinicus,Yunnan,KY417150.1,Rhinolophus sinicus,Yunnan
375,OK017834.1,OK017858.1,Recombinantion,OK017834.1,Rhinolophus sinicus,Hunan,OK017858.1,Rhinolophus sinicus,Yunnan
376,OP963576.1,MG772933.1,Recombinantion,OP963576.1,Rhinolophus marshalli,Yunnan,MG772933.1,Rhinolophus pusillus,Zhejiang
377,OQ503498.1,KF294457.1,Recombinantion,OQ503498.1,Rhinolophus sinicus,Hubei,KF294457.1,Rhinolophus monoceros,Zhejiang

In [36]:
hspec_stat = data.value_counts('Host')
hspec_stat

Host
Rhinolophus sinicus          115
Rhinolophus ferrumequinum     14
Rhinolophus affinis           10
Rhinolophus pusillus           9
Rhinolophus stheno             9
Rhinolophus malayanus          3
Rhinolophus blythi             2
Rhinolophus macrotis           2
Rhinolophus thomasi            2
Rhinolophus marshalli          1
Rhinolophus monoceros          1
Rhinolophus pearsoni           1
Rhinolophus rex                1
Rhinolophus siamensis          1
dtype: int64

In [37]:
sample_hspecs = list(hspec_stat[hspec_stat >= 5].index)
sample_hspecs

['Rhinolophus sinicus',
 'Rhinolophus ferrumequinum',
 'Rhinolophus affinis',
 'Rhinolophus pusillus',
 'Rhinolophus stheno']

In [38]:
stat_result = []
same_hspec_result = []
for i in range(100):
    sample_stat = dict([('sample_time', i)] + [(hspec,0) for hspec in sample_hspecs])
    input_sequence_sampled = pd.concat([data[~data['Host'].isin(sample_hspecs)] ,pd.concat([ hspecdf.sample(n=7) for hspec, hspecdf in data[data['Host'].isin(sample_hspecs)].groupby('Host')])])
    
    edge_table_sampled = edge_table[(edge_table['Source'].isin(input_sequence_sampled['Accession'])) & (edge_table['Target'].isin(input_sequence_sampled['Accession']))]
    merged_df_sampled = pd.merge(edge_table_sampled, node_table, left_on='Source', right_on='Id', how='left')
    merged_df_sampled = pd.merge(merged_df_sampled, node_table, left_on='Target', right_on='Id', how='left', suffixes=('_Start', '_Target'))
    #merged_df_sampled = merged_df_sampled[merged_df_sampled['Relation_Type']!='Recombination']
    merged_df_sampled_samehost = merged_df_sampled[merged_df_sampled['Host_Start'] == merged_df_sampled['Host_Target']]
    
    nodes = input_sequence_sampled[['Accession', 'Host']].set_index("Accession").to_dict()['Host']
    edges = [ (record['Source'], record['Target']) for index, record in merged_df_sampled.iterrows() ]
    group_sizes = {}
    for node, group in nodes.items():
        if group not in group_sizes:
            group_sizes[group] = 0
        group_sizes[group] += 1

    # 计算总节点数  
    total_nodes = len(nodes)

    # 计算观测的组内边数量
    observed_intra_edges = 0
    for edge in edges:
        if nodes[edge[0]] == nodes[edge[1]]:
            observed_intra_edges += 1

    # 计算期望的组内边数量
    expected_intra_edges = 0
    for group_size in group_sizes.values():
        if group_size > 1:
            # 计算组内任意两节点连接的概率
            prob = (group_size - 1) / (total_nodes - 1)
            # 所有可能的边中组内边的期望数量
            expected_intra_edges += prob * len(edges)

    expected_inter_edges = 0
    for edge in edges:
        node1, node2 = edge
        group1 = nodes[node1]
        group2 = nodes[node2]
        # 确保仅计算组间边
        if group1 != group2:
            # 该边是组间边
            expected_inter_edges += 1


    # 进行统计检验
    p_value = binom_test(observed_intra_edges, len(edges), expected_intra_edges / len(edges))

    
    same_hspec_result.append([i, total_nodes, len(merged_df_sampled),  observed_intra_edges, expected_intra_edges, expected_inter_edges, prob, p_value])
    
    
    recombination_accessions = set(list(merged_df_sampled['Id_Start']) + list(merged_df_sampled['Id_Target']))


    for hspec, hspecdf in input_sequence_sampled[input_sequence_sampled['Host'].isin(sample_hspecs)].groupby('Host'):
        sum_degree = 0
        for seqid in hspecdf['Accession']:
            sum_degree += calc_degree(merged_df_sampled, seqid)
        sample_stat[hspec] = sum_degree
    stat_result.append(sample_stat)
        
pd.DataFrame(stat_result).to_csv('degree_sampled_to_5seqs_v2.csv', index=False)

In [39]:
recomb_between_hspecdf = pd.DataFrame(same_hspec_result, columns=['Sample_Time', 'total_nodes', 'edgenum',  'observed_intra_edges', 'expected_intra_edges', 'expected_inter_edges', 'prob', 'p_value'])
recomb_between_hspecdf.to_excel('EdgeSampleStat_addInter.xlsx', index=False)
recomb_between_hspecdf

,Sample_Time,total_nodes,edgenum,observed_intra_edges,expected_intra_edges,expected_inter_edges,prob,p_value
0,0,49,57,14,41.562500,43,0.125,4.225526e-14
1,1,49,57,12,41.562500,45,0.125,5.234476e-16
2,2,49,56,13,40.833333,43,0.125,1.410072e-14
3,3,49,50,12,36.458333,38,0.125,8.566130e-13
4,4,49,30,3,21.875000,27,0.125,7.894825e-13
...,...,...,...,...,...,...,...,...
95,95,49,40,9,29.166667,31,0.125,4.604696e-11
96,96,49,45,5,32.812500,40,0.125,5.359525e-18
97,97,49,38,6,27.708333,32,0.125,3.121687e-13
98,98,49,43,6,31.354167,37,0.125,9.953027e-16
99,99,49,36,5,26.250000,31,0.125,2.137170e-13

In [40]:
node_table_rs = node_table[node_table['Host']=='Rhinolophus sinicus']
node_table_rs

             Id                 Host   Province
0    OK017824.1  Rhinolophus sinicus  Guangdong
1    OK017842.1  Rhinolophus sinicus    Jiangxi
2    OK017808.1  Rhinolophus sinicus     Fujian
3    OK017809.1  Rhinolophus sinicus     Fujian
4    OK017810.1  Rhinolophus sinicus     Fujian
..          ...                  ...        ...
108  KY417147.1  Rhinolophus sinicus     Yunnan
110  OQ503500.1  Rhinolophus sinicus     Yunnan
111  OQ503501.1  Rhinolophus sinicus     Yunnan
113         B68  Rhinolophus sinicus  Guangdong
116  OK017847.1  Rhinolophus sinicus     Yunnan

[68 rows x 3 columns]

In [48]:
province_stat = node_table_rs.value_counts('Province')
province_stat

Province
Yunnan       20
Guangdong    18
Jiangxi      10
Guizhou       6
Fujian        4
Hunan         4
Hubei         3
Anhui         1
Guangxi       1
Sichuan       1
dtype: int64

In [50]:
sample_provinces = list(map(lambda x: x.strip(), list(province_stat[province_stat > 3].index)))
sample_provinces

['Yunnan', 'Guangdong', 'Jiangxi', 'Guizhou', 'Fujian', 'Hunan']

In [51]:
prov_stat_result = []


for i in range(100):
    sample_stat = dict([('sample_time', i)] + [(hspec,0) for hspec in sample_provinces])
    input_sequence_sampled = pd.concat([node_table_rs[~node_table_rs['Province'].isin(sample_provinces)] ,pd.concat([ hspecdf.sample(n=3) for hspec, hspecdf in node_table_rs[node_table_rs['Province'].isin(sample_provinces)].groupby('Province')])])
    
    edge_table_sampled = edge_table[(edge_table['Source'].isin(input_sequence_sampled['Id'])) & (edge_table['Target'].isin(input_sequence_sampled['Id']))]
    merged_df_sampled = pd.merge(edge_table_sampled, node_table, left_on='Source', right_on='Id', how='left')
    merged_df_sampled = pd.merge(merged_df_sampled, node_table, left_on='Target', right_on='Id', how='left', suffixes=('_Start', '_Target'))

    for hspec, hspecdf in input_sequence_sampled[input_sequence_sampled['Province'].isin(sample_provinces)].groupby('Province'):
        sum_degree = 0
        for seqid in hspecdf['Id']:
            sum_degree += calc_degree(merged_df_sampled, seqid)
        sample_stat[hspec] = sum_degree
    prov_stat_result.append(sample_stat)
        
pd.DataFrame(prov_stat_result).to_csv('degree_sampled_to_5seqs_by_province_v2.csv', index=False)

In [52]:
pd.DataFrame(prov_stat_result)

    sample_time  Yunnan  Guangdong  Jiangxi  Guizhou  Fujian  Hunan
0             0       0          2       14       14      21     23
1             1       2          2        2        7      18     26
2             2       2          2       15        5      18     21
3             3       5          0       13       20      13     33
4             4       3         16        2       17      12     23
..          ...     ...        ...      ...      ...     ...    ...
95           95       6          8       15       23      18     22
96           96       3          1        3       14      10     24
97           97       4          4        2        1       9     18
98           98       0          6        5       16      14     24
99           99       3          8       10        8      12     26

[100 rows x 7 columns]

In [45]:
nodes = node_table[['Id', 'Host']].set_index("Id").to_dict()['Host']
edges = [ (str(record['Source']), str(record['Target'])) for index, record in merged_df.iterrows() ]
group_sizes = {}
for node, group in nodes.items():
	if group not in group_sizes:
		group_sizes[group] = 0
	group_sizes[group] += 1

# 计算总节点数  
total_nodes = len(nodes)

# 计算观测的组内边数量
observed_intra_edges = 0
for edge in edges:
	if nodes[edge[0]] == nodes[edge[1]]:
		observed_intra_edges += 1

# 计算期望的组内边数量
expected_intra_edges = 0
for group_size in group_sizes.values():
	if group_size > 1:
		# 计算组内任意两节点连接的概率
		prob = (group_size - 1) / (total_nodes - 1)
		# 所有可能的边中组内边的期望数量
		expected_intra_edges += prob * len(edges)

expected_inter_edges = 0
for edge in edges:
	node1, node2 = edge
	group1 = nodes[node1]
	group2 = nodes[node2]
	# 确保仅计算组间边
	if group1 != group2:
		# 该边是组间边
		expected_inter_edges += 1


# 进行统计检验
p_value = binom_test(observed_intra_edges, len(edges), expected_intra_edges / len(edges))

In [46]:
total_nodes, observed_intra_edges, len(edges)-observed_intra_edges, expected_intra_edges, expected_inter_edges

(100, 226, 152, 328.3636363636364, 152)

In [47]:
p_value

3.310045487101282e-39

In [9]:
same_province = merged_df[merged_df['Province_Start']==merged_df['Province_Target']]
same_province
diff_province = merged_df[merged_df['Province_Start']!=merged_df['Province_Target']]
diff_province

,Source,Target,Relation_Type,Id_Start,Host_Start,Province_Start,Id_Target,Host_Target,Province_Target
2,201924,OK017808.1,Minor,201924,Rhinolophus sinicus,Guangdong,OK017808.1,Rhinolophus sinicus,Fujian
4,201924,OK017838.1,Recombination,201924,Rhinolophus sinicus,Guangdong,OK017838.1,Rhinolophus sinicus,Jiangxi
5,201924,MK211378.1,Recombination,201924,Rhinolophus sinicus,Guangdong,MK211378.1,Rhinolophus affinis,Yunnan
6,201924,KU973692.1,Recombination,201924,Rhinolophus sinicus,Guangdong,KU973692.1,Rhinolophus pusillus,Yunnan
12,CH007,OK017808.1,Minor,CH007,Rhinolophus sinicus,Guangdong,OK017808.1,Rhinolophus sinicus,Fujian
...,...,...,...,...,...,...,...,...,...
528,OQ503498.1,OK017823.1,Recombination,OQ503498.1,Rhinolophus sinicus,Hubei,OK017823.1,Rhinolophus sinicus,Guangdong
529,OQ503498.1,GQ153542.1,Recombination,OQ503498.1,Rhinolophus sinicus,Hubei,GQ153542.1,Rhinolophus sinicus,Guangdong
530,OQ503498.1,GQ153542.1,Recombination,OQ503498.1,Rhinolophus sinicus,Hubei,GQ153542.1,Rhinolophus sinicus,Guangdong
531,OQ503498.1,KF294457.1,Recombination,OQ503498.1,Rhinolophus sinicus,Hubei,KF294457.1,Rhinolophus monoceros,Zhejiang
532,OQ503499.1,MN996532.2,Recombination,OQ503499.1,Rhinolophus sinicus,Hubei,MN996532.2,Rhinolophus affinis,Yunnan

In [25]:
diff_province[diff_province['Target']=='HD13589']

,Source,Target,Relation_Type,Id_Start,Host_Start,Province_Start,Id_Target,Host_Target,Province_Target
15,DQ022305.2,HD13589,Major,DQ022305.2,Rhinolophus sinicus,Hongkong,HD13589,Rhinolophus sinicus,Guangdong
19,DQ071615.1,HD13589,Minor,DQ071615.1,Rhinolophus pearsoni,Guangxi,HD13589,Rhinolophus sinicus,Guangdong
43,DQ648857.1,HD13589,Recombination,DQ648857.1,Rhinolophus macrotis,Hubei,HD13589,Rhinolophus sinicus,Guangdong
57,GQ153547.1,HD13589,Major,GQ153547.1,Rhinolophus sinicus,Hongkong,HD13589,Rhinolophus sinicus,Guangdong
61,GQ153547.1,HD13589,Major,GQ153547.1,Rhinolophus sinicus,Hongkong,HD13589,Rhinolophus sinicus,Guangdong
63,GQ153547.1,HD13589,Minor,GQ153547.1,Rhinolophus sinicus,Hongkong,HD13589,Rhinolophus sinicus,Guangdong
87,JX993987.1,HD13589,Recombination,JX993987.1,Rhinolophus pusillus,Shaanxi,HD13589,Rhinolophus sinicus,Guangdong
236,OK017793.1,HD13589,Recombination,OK017793.1,Rhinolophus affinis,Yunnan,HD13589,Rhinolophus sinicus,Guangdong
356,OK017832.1,HD13589,Minor,OK017832.1,Rhinolophus sinicus,Hunan,HD13589,Rhinolophus sinicus,Guangdong
380,OK017833.1,HD13589,Recombination,OK017833.1,Rhinolophus sinicus,Hunan,HD13589,Rhinolophus sinicus,Guangdong
409,OK017838.1,HD13589,Recombination,OK017838.1,Rhinolophus sinicus,Jiangxi,HD13589,Rhinolophus sinicus,Guangdong
492,OP963575.1,HD13589,Minor,OP963575.1,Rhinolophus thomasi,Yunnan,HD13589,Rhinolophus sinicus,Guangdong

In [10]:
same_host = merged_df[merged_df['Host_Start']==merged_df['Host_Target']]
same_host
diff_host = merged_df[merged_df['Host_Start']!=merged_df['Host_Target']]
diff_host

,Source,Target,Relation_Type,Id_Start,Host_Start,Province_Start,Id_Target,Host_Target,Province_Target
5,201924,MK211378.1,Recombination,201924,Rhinolophus sinicus,Guangdong,MK211378.1,Rhinolophus affinis,Yunnan
6,201924,KU973692.1,Recombination,201924,Rhinolophus sinicus,Guangdong,KU973692.1,Rhinolophus pusillus,Yunnan
17,DQ071615.1,KP886808.1,Major,DQ071615.1,Rhinolophus pearsoni,Guangxi,KP886808.1,Rhinolophus ferrumequinum,Yunnan
18,DQ071615.1,OK017858.1,Major,DQ071615.1,Rhinolophus pearsoni,Guangxi,OK017858.1,Rhinolophus sinicus,Yunnan
19,DQ071615.1,HD13589,Minor,DQ071615.1,Rhinolophus pearsoni,Guangxi,HD13589,Rhinolophus sinicus,Guangdong
...,...,...,...,...,...,...,...,...,...
526,OQ503497.1,KP886808.1,Recombination,OQ503497.1,Rhinolophus sinicus,Guizhou,KP886808.1,Rhinolophus ferrumequinum,Yunnan
531,OQ503498.1,KF294457.1,Recombination,OQ503498.1,Rhinolophus sinicus,Hubei,KF294457.1,Rhinolophus monoceros,Zhejiang
532,OQ503499.1,MN996532.2,Recombination,OQ503499.1,Rhinolophus sinicus,Hubei,MN996532.2,Rhinolophus affinis,Yunnan
536,OQ503502.1,MZ081377.1,Recombination,OQ503502.1,Rhinolophus sinicus,Yunnan,MZ081377.1,Rhinolophus malayanus,Yunnan
537,OQ503502.1,KP886808.1,Recombination,OQ503502.1,Rhinolophus sinicus,Yunnan,KP886808.1,Rhinolophus ferrumequinum,Yunnan

In [20]:
def calc_degree(merged_table, id):
    degree_out = len(merged_table[merged_table['Id_Start'] == id])
    degree_in = len(merged_table[merged_table['Id_Target'] == id])
    return degree_in + degree_out

In [12]:
calcresult = []
for (Id, Province), groupdf in node_table.groupby(['Id', 'Province']):
    degree = calc_degree(merged_df, Id)
    same_prov_deg = calc_degree(same_province, Id)
    diff_prov_deg = calc_degree(diff_province, Id)
    calcresult.append([Id, Province, degree, same_prov_deg, diff_prov_deg])
    
province_stat = pd.DataFrame(calcresult, columns=['SeqID', 'Province', 'Degree', 'SameProvince_Degree', 'DiffProvince_Degree'])
province_stat

          SeqID   Province  Degree  SameProvince_Degree  DiffProvince_Degree
0        201924  Guangdong      20                    8                   12
1           B68  Guangdong       4                    3                    1
2           B86  Guangdong       3                    3                    0
3         CH007  Guangdong       4                    2                    2
4         CH231  Guangdong       4                    1                    3
..          ...        ...     ...                  ...                  ...
114  OQ503500.1     Yunnan       6                    6                    0
115  OQ503501.1     Yunnan       4                    4                    0
116  OQ503502.1     Yunnan      12                    8                    4
117  OQ503503.1     Yunnan       2                    2                    0
118  OQ503506.1     Yunnan       4                    4                    0

[119 rows x 5 columns]

In [13]:
province_stat.sort_values('Degree')

         SeqID   Province  Degree  SameProvince_Degree  DiffProvince_Degree
48  MK211375.1     Yunnan       2                    2                    0
77  OK017826.1  Guangdong       2                    2                    0
72  OK017815.1  Guangdong       2                    2                    0
49  MK211376.1     Yunnan       2                    2                    0
79  OK017828.1  Guangdong       2                    0                    2
..         ...        ...     ...                  ...                  ...
86  OK017835.1      Hunan      22                    9                   13
66  OK017808.1     Fujian      22                    0                   22
84  OK017833.1      Hunan      24                    7                   17
18     HD13589  Guangdong      29                   13                   16
83  OK017832.1      Hunan      38                    9                   29

[119 rows x 5 columns]

In [14]:
calcresult = []
for (Id, Host), groupdf in node_table.groupby(['Id', 'Host']):
    degree = calc_degree(merged_df, Id)
    same_host_deg = calc_degree(same_host, Id)
    diff_host_deg = calc_degree(diff_host, Id)
    calcresult.append([Id, Host, degree, same_host_deg, diff_host_deg])

host_stat = pd.DataFrame(calcresult, columns=['SeqID', 'Host', 'Degree', 'SameHostDegree', 'DiffHostDegree'])
host_stat

          SeqID                 Host  Degree  SameHostDegree  DiffHostDegree
0        201924  Rhinolophus sinicus      20              15               5
1           B68  Rhinolophus sinicus       4               4               0
2           B86  Rhinolophus sinicus       3               3               0
3         CH007  Rhinolophus sinicus       4               4               0
4         CH231  Rhinolophus sinicus       4               4               0
..          ...                  ...     ...             ...             ...
114  OQ503500.1  Rhinolophus sinicus       6               6               0
115  OQ503501.1  Rhinolophus sinicus       4               4               0
116  OQ503502.1  Rhinolophus sinicus      12               7               5
117  OQ503503.1  Rhinolophus sinicus       2               2               0
118  OQ503506.1  Rhinolophus thomasi       4               0               4

[119 rows x 5 columns]

In [31]:
with pd.ExcelWriter("DegreeStat_corrected_mergeHK2GD.xlsx") as writer:
    province_stat.to_excel(writer, index=False, sheet_name="Province")
    host_stat.to_excel(writer, index=False, sheet_name="Host")